:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #c21807; /* Traditional Red */
  --secondary: #fffdf5; /* Off-white/Cream */
  
  /* Font Variables */
  --font-lavishly-yours: 'Dancing Script', cursive; /* Set fallback just in case, but Next.js variable overrides usually work */
  --font-story-script: 'Story Script', cursive;
  --font-playpen-sans: 'Playpen Sans', cursive;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-playpen-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
